<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="/css/main.css" rel="stylesheet">
  
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>