<% include header.html %>

  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="muted">Interview Challenge</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="span12">
        <h1>@<%= handle %></h1>
      </div>
    </div>
    
    <hr>
    
  <% for(var i=0; i < 10; i++) { %>
    <% if (i % 2 === 0) { %>
    <div class="row">
    <% } %>
      
        <div class="span6">
          <p class="tweet"><b><%= tweets.results[i].created_at %></b><%= tweets.results[i].text %></p>
        </div>
      
    <% if (i % 2 !== 0) { %>
    </div>
    <% } %>
  <% } %>
  
    <hr>
  
    <div class="row">
      <div class="span12">
        <p>
          <em>Try changing the Twitter handle in the url to see the last ten tweets from other users.</em><br>
          <small>Example: /cnnmoney-tweets, /cnnlive-tweets, /cnn-tweets</small>
        </p>
      </div>
    </div>
  </div><!-- /.container -->

<% include footer.html %>