/*!
 * Interview Challenge 1 v0.0.1
 */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:focus {
  color: #005580;
  border-bottom: 1px solid #005580;
  outline: thin dotted #333;
  outline 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover {
  color: #005580;
  border-bottom: 1px solid #005580;
  outline: 0;
}
a:active {
  outline: 0;
}

h1,
h3 {
  margin: 10px 0;
  font-family: inherit;
  line-height: 40px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 38.5px;
  font-weight: bold;
}
h3 {
  font-size: 24.5px;
  font-weight: normal;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

p {
  margin: 0 0 1em;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 85%;
}

.container {
  width: 940px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}
.container:after {
  clear: both;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.span12 {
  width: 940px;
}
.span6 {
  width: 460px;
}

.muted {
  color: #999999;
}

@media (min-width: 600px) and (max-width: 980px) {
  .container {
    width: 560px;
  }
  
  .span12 {
    width: 560px;
  }
  .span6 {
    width: 270px;
  }
}

@media (max-width: 599px) {
  body {
    padding: 0 20px;
  }
  
  .container {
    width: auto;
  }
  
  .row {
    margin-left: 0;
  }
  
  [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}